:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-background: #f8fafc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header-background: #212020;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
  background-color: var(--header-background);
}
header a.active {
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 0 0 1.5rem;
}

main h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1.5rem;
}

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main ul li {
  margin-bottom: 1rem;
}

main ul li a {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
main ul li a:hover {
  text-decoration: underline;
}

main ul li p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin: 0;
}

input {
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}
@media (prefers-color-scheme: dark) {
  input {
    color: #0a0a0a;
  }
}

div[role='alert'],
span[role='alert'] {
  color: #b91c1c;
}
div[role='alert'].success,
span[role='alert'].success {
  color: #1d4ed8;
}
div[role='alert'] h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
div[role='alert'] p {
  margin-bottom: 0.5rem;
}

main .actions {
  align-self: flex-start;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main .alert {
  align-self: flex-start;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

button {
  padding: 0.3rem 0.8rem;
  border: 1px solid #6b7280;
  background-color: #fff;
  color: #4b5563;
  cursor: pointer;
}
button:enabled:hover {
  background-color: #eaecee;
}
button:disabled {
  cursor: not-allowed;
  color: #788494;
}

.skeleton {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  margin-bottom: 1rem;
}
.skeleton-item-title {
  border-radius: 12px;
  animation: skeleton-loading 1s linear infinite alternate;
  height: 1.2rem;
  width: 16rem;
}
.skeleton-item-desc {
  border-radius: 12px;
  animation: skeleton-loading 1s linear infinite alternate;
  height: 1.1rem;
  width: 100%;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(215, 15%, 85%);
  }
  100% {
    background-color: hsl(215, 15%, 95%);
  }
}
